version: '3.8'
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "4000:4000"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    command: npm run dev

  db:
    image: postgres:15
    container_name: smartscholar-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: SmartScholar
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
